@model HomeViewModel

@await Html.PartialAsync("Carousel")

<h2>Популярные двери за неделю</h2>
<h4>Мы стараемся ради вас!!!</h4>

<div class="row">
    @foreach(var door in Model.PreferredDoors)
    {
        @Html.Partial("DoorsSummary",door)
    }

</div>